<header>
  <div class="header-logo">
    <a href="/">WeedApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">WeedAppとは</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>WeedAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しく草コミュニケーションできます。
  </p>
  <%# 仮の画像。完成したら画像の入れ替えて。 %>
  <img class="about-img" src="/sns_kari.jpg">
</div>