<div class="main posts-index">
  <div class="card-content">
    <div class="container">
      <% @posts.each do |post| %>
        <div class="posts-index-item">
          <img class="posts-index-image">
            <%= image_tag post.image.to_s, alt: nil, id: "image", class: "image" %><br>
          <div class="posts-index-content">
            <p><%= post.content %></p>
          </div>
          <div class="card-link">
            <div class="more_list">
              <a href><%= link_to '詳細', post_path(post.id) %></a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>